<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<hr>
			<h3>User Guide</h3>
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("getting-started") %>>
					<a href="/documents/gettingStarted/index.html">Getting Started</a>
					<ul class="nav">
						<li<%= sidebar_current("getting-started-networking") %>>
							<a class="hasChildren" href="/documents/gettingStarted/networking/index.html">Networking</a>
							<ul class="nav">
								<li<%= sidebar_current("getting-started-networking-vagrant") %>>
									<a class="hasChildren" href="/documents/gettingStarted/networking/index.html#UsingVagrant">Single Machine</a>
									<ul class="subnav">
										<li<%= sidebar_current("getting-started-networking-vagrant-swarm") %>>
												<a href="/documents/gettingStarted/networking/swarm.html">Docker Swarm</a>
										</li>
										<li<%= sidebar_current("getting-started-networking-vagrant-k8s") %>>
												<a href="/documents/gettingStarted/networking/k8s.html">Kubernetes</a>
										</li>
										<li<%= sidebar_current("getting-started-networking-vagrant-mesos") %>>
												<a href="/documents/gettingStarted/networking/mesos.html">Mesos</a>
										</li>
									</ul>
								</li>
								<li<%= sidebar_current("getting-started-networking-installation") %>>
									<a class="hasChildren" href="/documents/gettingStarted/networking/index.html#WithNetworkedServers">Multiple Servers</a>
									<ul class="subnav">
										<li<%= sidebar_current("getting-started-networking-installation-swarm") %>>
												<a href="/documents/gettingStarted/networking/install-swarm.html">Docker Swarm</a>
										</li>
										<li<%= sidebar_current("getting-started-networking-installation-k8s") %>>
												<a href="/documents/gettingStarted/networking/install-k8s.html">Kubernetes</a>
										</li>
										<li<%= sidebar_current("getting-started-networking-installation-bgp") %>>
												<a href="/documents/gettingStarted/networking/bgp.html">BGP</a>
										</li>
										<li<%= sidebar_current("getting-started-networking-installation-aci") %>>
												<a href="/documents/gettingStarted/networking/aci.html">Cisco ACI</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<!--li<%= sidebar_current("getting-started-storage") %>>
							<a href="/documents/gettingStarted/storage/storage.html">Storage </a>
						</li>
						<li<%= sidebar_current("getting-started-cluster") %>>
							<a class="hasChildren" href="/documents/gettingStarted/cluster/index.html">Cluster </a>
							<ul class="subnav">
								<li<%= sidebar_current("getting-started-cluster-vagrant") %>>
										<a href="/documents/gettingStarted/cluster/vagrant.html">Single Machine</a>
								</li>
								<li<%= sidebar_current("getting-started-cluster-baremetal") %>>
										<a href="/documents/gettingStarted/cluster/baremetal.html">Multiple Servers</a>
								</li>
							</ul>
						</li-->
					</ul>
				</li>
				<li<%= sidebar_current("networking") %>>
					<a href="/documents/networking/index.html">Networking</a>
					<ul class="nav">
						<li<%= sidebar_current("features") %>>
								<a href="/documents/networking/features.html">Features</a>
						</li>
						<li<%= sidebar_current("networking-concepts") %>>
								<a href="/documents/networking/concepts.html">Concepts and Terminology</a>
						</li>
						<li<%= sidebar_current("networking-policies") %>>
								<a href="/documents/networking/policies.html">Policies</a>
						</li>
						<li<%= sidebar_current("networking-services") %>>
								<a href="/documents/networking/services.html">Service Loadbalancing</a>
						</li>
						<li<%= sidebar_current("networking-physical") %>>
								<a class="hasChildren" href="/documents/networking/physical-networks.html">Physical Networks</a>
								<ul class="nav">
									<li<%= sidebar_current("networking-physical-bgp") %>>
											<a href="/documents/networking/bgp.html">L3 Routed Networks</a>
									</li>
									<li<%= sidebar_current("networking-physical-l2") %>>
											<a href="/documents/networking/l2-vlan.html">L2 Bridged Networks</a>
									</li>
									<li<%= sidebar_current("networking-physical-aci") %>>
											<a href="/documents/networking/aci_ug.html">Cisco ACI</a>
									</li>
								</ul>
						</li>
						<li<%= sidebar_current("networking-ipam") %>>
								<a href="/documents/networking/ipam.html">IPAM and Service Discovery</a>
						</li>
						<li<%= sidebar_current("networking-ipv6") %>>
								<a href="/documents/networking/ipv6.html">IPv6</a>
						</li>
					</ul>
				</li>
				<!--li<%= sidebar_current("storage") %>>
					<a href="/documents/storage/index.html">Storage</a>
					<ul class="nav">
						<li<%= sidebar_current("storage-architecture") %>>
								<a href="/documents/storage/architecture.html">Architecture</a>
						</li>
						<li<%= sidebar_current("storage-configuration") %>>
								<a href="/documents/storage/configuration.html">Configuration</a>
						</li>
						<li<%= sidebar_current("storage-containers") %>>
								<a href="/documents/storage/containers.html">Creating a Container with a Volume</a>
						</li>
						<li<%= sidebar_current("storage-volcli") %>>
								<a href="/documents/storage/volcli.html">Volcli Reference</a>
						</li>
					</ul>
				</li-->
				<!--li<%= sidebar_current("cluster") %>>
					<a href="/documents/cluster/index.html">Cluster</a>
					<ul class="nav">
						<li<%= sidebar_current("cluster-concepts") %>>
								<a href="/documents/cluster/concepts.html">Concepts and Terminology</a>
						</li>
						<li<%= sidebar_current("cluster-node-lifecycle") %>>
								<a href="/documents/cluster/node-lifecycle.html">Node Lifecycle Management</a>
						</li>
					</ul>
				</li-->
			</ul>
			<hr><p>
			<h3>Tutorials and Talks</h3>
				<ul class="nav docs-sidenav">
					<li<%= sidebar_current("tutorials") %>>
						<a href="/documents/tutorials/index.html">Tutorials</a>
						<ul class="nav">
							<li<%= sidebar_current("tutorials-container-101") %>>
									<a href="/documents/tutorials/container-101.html">Container Networking Tutorial</a>
							</li>
							<li<%= sidebar_current("tutorials-contiv-compose") %>>
									<a href="/documents/tutorials/contiv-compose.html">Policies with Networking</a>
							</li>
						</ul>
					</li>
					<li<%= sidebar_current("demos") %>>
						<a href="/documents/demos/index.html">Demonstration Videos</a>
					</li>
					<li<%= sidebar_current("talks") %>>
						<a href="/documents/talks/index.html">Community Talks</a>
					</li>
				</ul>
			<hr><p>
			<h3>Examples</h3>
				<ul class="nav docs-sidenav">
					<ul class="subnav">
						<li<%= sidebar_current("samples") %>>
							<a href="/documents/samples/index.html">Docker Compose Examples</a>
						</li>
						<li<%= sidebar_current("samples") %>>
							<a href="/documents/samples/index.html">Kubernetes Examples</a>
						</li>
						<li<%= sidebar_current("samples-mcast") %>>
							<a href="/documents/samples/mcast.html">Multicast Examples</a>
						</li>
						<!--li<%= sidebar_current("samples-nomad") %>>
							<a href="/documents/samples/nomad.html">Nomad Examples</a>
						</li-->
					</ul>
				</ul>
			<hr><p>
			<h3>Reference</h3>
				<ul class="nav docs-sidenav">
					<ul class="subnav">
						<li<%= sidebar_current("api-network") %>><a href="https://godoc.org/github.com/contiv/contivmodel/client" target="_blank">Network API Reference</a><br></li>
						<!--li<%= sidebar_current("api-storage") %>><a href="https://godoc.org/github.com/contiv/volplugin/config" target="_blank">Storage API Reference</a><br></li>
						<li<%= sidebar_current("api-cluster") %>><a href="https://godoc.org/github.com/contiv/cluster" target="_blank">Cluster API Reference</a><br></li-->
					</ul>
				</ul>
			<hr><p>
		</div>
	<% end %>

	<%= yield %>
<% end %>
