<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<hr>
			<h3>User Guide</h3>
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("getting-started") %>>
					<a data-toggle="collapse" href="#collapse100" href="/install/user_guides/getting_started/index.html">Getting Started</a>
				<div id="collapse100" class="panel-collapse collapse">

					<ul class="nav nav-visible">
						<li<%= sidebar_current("getting_started-community") %>>
							<a href="/install/user_guides/getting_started/community_talks/index.html">Talks and Demonstrations</a>
						</li>
						<li<%= sidebar_current("getting-started-gs_net") %>>
							<a data-toggle="collapse" href="#collapse110" href="/install/user_guides/getting_started/networking/index.html">Networking</a>
									<div id="collapse110" class="panel-collapse collapse">
										<ul class="nav nav-visible">
											<li<%= sidebar_current("getting-started-vagrant") %>>
													<a href="/install/user_guides/getting_started/networking/vagrant.html"> Development Setup with Vagrant</a>
											</li>
											<li<%= sidebar_current("getting-started-multicast") %>>
													<a href="/install/user_guides/getting_started/networking/mcast.html">Multicast Demonstration</a>
											</li>
											<li<%= sidebar_current("getting-started-server-setup") %>>
													<a href="/install/user_guides/getting_started/networking/basic_server_setup.html">Basic Server Setup</a>
											</li>
											<li<%= sidebar_current("getting-started-swarm") %>>
													<a href="/install/user_guides/getting_started/networking/swarm.html">Docker Swarm</a>
											</li>
											<li<%= sidebar_current("getting-started-k8s") %>>
													<a href="/install/user_guides/getting_started/networking/k8s.html">Kubernetes</a>
											</li>
											<li<%= sidebar_current("getting-started-mesos") %>>
													<a href="/install/user_guides/getting_started/networking/mesos.html">Mesos</a>
											</li>
											<li<%= sidebar_current("getting-started-nomad") %>>
													<a href="/install/user_guides/getting_started/networking/nomad.html">Nomad</a>
											</li>
											<li<%= sidebar_current("getting-started-bgp") %>>
													<a href="/install/user_guides/getting_started/networking/bgp.html">BGP</a>
											</li>
										</ul>
									</div>

						</li>
						<li<%= sidebar_current("getting-started-network-topologies") %>>
							<a data-toggle="collapse" href="#collapse120" href="/install/user_guides/getting_started/network_topologies/index.html">Network Topologies</a>
							<div id="collapse120" class="panel-collapse collapse">
								<ul class="nav nav-visible">
									<li<%= sidebar_current("getting-started-nt-routing") %>>
										<a href="/install/user_guides/getting_started/network_topologies/native_routed.html">Native Routing</a>
									</li>
									<li<%= sidebar_current("getting-started-nt-bridging") %>>
										<a href="/install/user_guides/getting_started/network_topologies/native_bridged.html">Native Bridging</a>
									</li>
									<li<%= sidebar_current("getting-started-nt-openstack") %>>
										<a href="/install/user_guides/getting_started/network_topologies/openstack.html">Openstack Deployment</a>
									</li>
									<li<%= sidebar_current("getting-started-nt-cloud") %>>
										<a href="/install/user_guides/getting_started/network_topologies/cloud.html">Cloud Deployment</a>
									</li>
									<li<%= sidebar_current("getting-started-nt-vagrant") %>>
										<a href="/install/user_guides/getting_started/network_topologies/vagrant.html">Vagrant Setup</a>
									</li>
									<li<%= sidebar_current("getting-started-nt-tutorial") %>>
										<a href="/install/user_guides/getting_started/network_topologies/networking101.html">Containers Networking Tutorial</a>
									</li>
									<li<%= sidebar_current("getting-started-nt-bgp") %>>
										<a href="/install/user_guides/getting_started/network_topologies/bgp.html">BGP</a>
									</li>
								</ul>
							</div>
						</li>
						<li<%= sidebar_current("getting-started-storage") %>>
							<a data-toggle="collapse" href="#collapse130" href="/install/user_guides/getting_started/storage/index.html">Storage </a>
							<div id="collapse130" class="panel-collapse collapse">
								<ul class="nav">
									<li<%= sidebar_current("getting-started-stor-swarm") %>><a href="/install/user_guides/getting_started/storage/swarm.html">Docker Swarm</a></li>
								</ul>
							</div>
						</li>
						<li<%= sidebar_current("getting-started-storsystems") %>>
							<a data-toggle="collapse" href="#collapse140" href="/install/user_guides/getting_started/storage_systems/index.html">Storage Systems</a>
							<div id="collapse140" class="panel-collapse collapse">
								<ul class="nav">
									<li<%= sidebar_current("getting-started-storsystems-ceph") %>><a href="/install/user_guides/getting_started/storage_systems/ceph.html">Ceph</a></li>
									<li<%= sidebar_current("getting-started-storsystems-nfs") %>><a href="/install/user_guides/getting_started/storage_systems/nfs.html">NFS</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				</li>
				<li<%= sidebar_current("networking") %>><a data-toggle="collapse" href="#collapse200" href="/install/user_guides/networking/index.html">Networking</a>
					<div id="collapse200" class="panel-collapse collapse">
						<ul class="nav nav-visible">
							<li<%= sidebar_current("networking-concepts") %>><a href="/install/user_guides/networking/concepts.html">Terminology</a></li>
							<li<%= sidebar_current("networking-networks") %>><a href="/install/user_guides/networking/networks.html">Networks</a></li>
							<li<%= sidebar_current("networking-tenants") %>><a href="/install/user_guides/networking/tenants.html">Tenants</a></li>
							<li<%= sidebar_current("networking-policies") %>><a href="/install/user_guides/networking/policies.html">Policies</a></li>
							<li<%= sidebar_current("networking-externalconn") %>><a href="/install/user_guides/networking/external_connectivity.html">External Connectivity</a></li>
							<li<%= sidebar_current("networking-discovery") %>><a href="/install/user_guides/networking/service_discovery.html">Service Discovery</a></li>
							<li<%= sidebar_current("networking-ipam") %>><a href="/install/user_guides/networking/ipam.html">IP Address Management</a></li>
							<li<%= sidebar_current("networking-hybrid") %>> <a href="/install/user_guides/networking/hybrid_workloads.html">Hybrid Workloads</a></li>
						</ul>
					</div>
				</li>
				<li<%= sidebar_current("storage") %>><a data-toggle="collapse" href="#collapse300" href="/install/user_guides/storage/index.html">Storage</a>
					<div id="collapse300" class="panel-collapse collapse">
						<ul class="nav nav-visible">
							<li<%= sidebar_current("storage-concepts") %>><a href="/install/user_guides/storage/concepts.html">Terminology</a></li>
							<li<%= sidebar_current("storage-policies") %>><a data-toggle="collapse" href="#collapse320" href="/install/user_guides/storage/policies/index.html">Policies</a></li>
								<div id="collapse320" class="panel-collapse collapse">
									<ul class="nav nav-visible">
										<li<%= sidebar_current("storage-policies-allocation") %>>
											<a href="/install/user_guides/storage/policies/allocation.html">Allocation</a></li>
										<li<%= sidebar_current("storage-policies-ratelimiting") %>>
											<a href="/install/user_guides/storage/policies/rate_limiting.html">IOPs Rate Limiting</a></li>
										<li<%= sidebar_current("storage-policies-snapshots") %>>
											<a href="/install/user_guides/storage/policies/snapshots.html">Snapshots</a></li>
										<li<%= sidebar_current("storage-policies-filesystems") %>>
											<a href="/install/user_guides/storage/policies/filesystem.html">FileSystem</a></li>
									</ul>
								</div>
							<li<%= sidebar_current("storage-ceph") %>><a href="/install/user_guides/storage/ceph.html">Ceph</a></li>
							<li<%= sidebar_current("storage-nfs") %>><a href="/install/user_guides/storage/nfs.html">NFS</a></li>
							<li<%= sidebar_current("storage-diskman") %>><a href="/install/user_guides/storage/disk_management.html">Disk Management</a></li>
						</ul>
					</div>
				</li>
				<li<%= sidebar_current("cluster") %>>
					<a data-toggle="collapse" href="#collapse400" href="/install/user_guides/cluster/index.html">Cluster</a>
					<div id="collapse400" class="panel-collapse collapse">
						<ul class="nav nav-visible">
								<li<%= sidebar_current("cluster-concepts") %>><a href="/install/user_guides/cluster/concepts.html">Terminology</a></li>
								<li<%= sidebar_current("cluster-discovery") %>><a href="/install/user_guides/cluster/discovery.html">Discovery</a></li>
								<li<%= sidebar_current("cluster-commissioning") %>><a href="/install/user_guides/cluster/commissioning.html">Commissioning and Decommissioning</a></li>
						</ul>
					</div>
				</li>
				<hr><p>
				<h3>Reference</h3>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("api-network") %>><a href="https://godoc.org/github.com/contiv/netplugin">Network API Reference</a><br></li>
						<li<%= sidebar_current("api-storage") %>><a href="https://godoc.org/github.com/contiv/contivmodel/client">Storage API Reference</a><br></li>
						<li<%= sidebar_current("api-cluster") %>><a href="https://godoc.org/github.com/contiv/cluster">Cluster API Reference</a><br></li>
					</ul>
				<hr><p>
				<h3>Examples</h3>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("examples-1") %>><a href="/install/samples/index.html">Example Use Cases</a><br></li>
					</ul>
				<hr><p>
<!-- Not really necessary - social media icons are in header
				Support
					<ul class="nav nav-visible">
						<li<%= sidebar_current("support-slack") %>><a href="/install/.html">Slack Channel</a><br></li>
						<li<%= sidebar_current("support-github") %>><a href="/install/.html">GitHub</a><br></li>
						<li<%= sidebar_current("support-stackoverflow") %>><a href="/install/.html">Stackoverflow</a><br></li>
						<li<%= sidebar_current("support-mail") %>><a href="/install/maillist.html">Mailing List</a><br></li>
						<li<%= sidebar_current("support-faq") %>><a href="/install/faq.html">FAQs</a><br></li>
					</ul>
-->
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
